# Vita build
*.vpk
*.velf
*.self
*.sfo
*.yml


# Cmake files
CMakeFiles
Makefile
Pingo
Pingo.self
Pingo.velf
Pingo.vpk_param.sfo
cmake_install.cmake
CMakeCache.txt

# Visual Studio files
Debug
*.sln
*.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.VC.opendb

.vscode

*.aps
*.rc
resource.h

imgui.ini